root = true

[*]
charset = utf-8
indent_style = space
indent_size = 2
tab_width = 2
end_of_line = lf
insert_final_newline = false
trim_trailing_whitespace = true

[{*.md, *.mdown}]
trim_trailing_whitespace = false

[{*.strict, *.cs, *.go, Makefile}]
indent_style = tab